.end-page {
  height: 100dvh;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url("../../assets/imgs/general/background.png");
  background-size: cover;
  background-position: center;

  .center {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-top: 6dvh;

    h1 {
      color: white;
      font-size: 10vw;
      margin: 0;
      font-weight: 800;
      text-align: center;
      line-height: 1.1;
      width: 90%;
    }

    .score-pill {
      background-color: #f06c29;
      color: white;
      border-radius: 100dvh;
      padding: 1.6dvh 6vw;
      font-size: 4vw;
      font-weight: 700;
      text-align: center;
      margin-top: 3dvh;
      line-height: 1.2;
      box-shadow: rgba(0, 0, 0, 0.226) 0 0 30px;
    }

    .final-img-container {
      margin-top: 4dvh;
      width: 60vw;
      height: 60vw;
      background-image: url("../../assets/imgs/end/bg-final-trivia.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      .final-img {
        height: auto;
        display: block;
        flex: none;
        flex-shrink: 0;
        max-width: none;

        &.score-1,
        &.score-2 {
          width: 80%;
          margin: 0;
        }

        &.score-3 {
          margin-top: 6dvh;
          margin-left: 5vw;
          width: 170%;
        }
      }

      .final-text {
        color: white;
        font-size: 5vw;
        font-weight: 800;
        text-align: center;
        width: 100%;
        margin: 0;
        line-height: 1.2;
        margin-top: 5dvh;
      }
    }
  }

  .footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 6dvh;

    img {
      width: 30vw;
    }
  }

  @keyframes zoomIn {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .zoom-in {
    animation: zoomIn 600ms cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
  }
}
