.roulette-page {
  height: 100dvh;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/imgs/general/fondo.png");
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;

  .top-section {
    margin-top: 2dvh;
    margin-bottom: 3dvh;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20px;
    img {
      width: 20vw;
    }
  }

  .roulette-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;

    div:nth-of-type(1) {
      width: 80vw !important;
      height: 80vw !important;
      max-width: 1000px !important;
      max-height: 1000px !important;
    }

    .text {
      color: white;
      width: 100%;
      text-align: center;
      font-size: 30px;
      animation: zoom 2s infinite ease-in-out;
    }
  }
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
